<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Insight Generator AI</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" href="C:\Users\DIPAK\ai-agent-insights generator\static\favicon.ico" type="image/x-icon" />
<style>
  body.dark-mode {
    background-color: #1e293b;
    color: #e2e8f0;
  }

  body.dark-mode .chart-card {
    background-color: #334155;
    border: 1px solid #475569;
  }

  .dark-toggle {
    margin-bottom: 1rem;
  }

  .dark-toggle label {
    font-weight: bold;
  }

  .dark-toggle input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 8px;
  }
</style>


</head>
<body>
  <div style="text-align: center; margin-bottom: 1rem;">
  <img src="/static/logo.png" alt="Insight AI Logo" class="logo" />
</div>

<div class="dark-toggle">
  <label>
    <input type="checkbox" id="darkModeToggle" />
     🌙Dark Mode
  </label>
</div>


  <div class="container">
    <h1>📊 Insight Generator AI</h1>
    <p class="subtitle">Upload your dataset and get rich visual analytics instantly!</p>

    <form method="post" enctype="multipart/form-data" action="/upload">
      <input type="file" name="file" accept=".csv,.xlsx" required />
      <button type="submit">Generate Charts</button>
    </form>
    <a href="/download_zip" target="_blank">
      <button class="download_zip" style="margin-top: 1rem;">📥 Download All Charts</button>
    </a>


    {% if uploaded %}
      <div class="charts">
        <p><strong>Total charts generated:</strong> {{ view_count }}</p>
        {% for chart in chart_info %}
          <div class="chart-card">
            <h2>{{ chart.title }}</h2>
            <img src="/outputs/{{ chart.filename }}" alt="{{ chart.title }}" />
            <p>{{ chart.desc }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <script>
  const toggle = document.getElementById("darkModeToggle");

  // Load saved mode
  if (localStorage.getItem("dark-mode") === "enabled") {
    document.body.classList.add("dark-mode");
    toggle.checked = true;
  }

  toggle.addEventListener("change", function () {
    if (this.checked) {
      document.body.classList.add("dark-mode");
      localStorage.setItem("dark-mode", "enabled");
    } else {
      document.body.classList.remove("dark-mode");
      localStorage.setItem("dark-mode", "disabled");
    }
  });
</script>

</body>
</html>
